*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;    
}
footer{
    background: url(../assets/images/Fondo.png)no-repeat;
    height:800px ;
}
main {
    background-color: #455057d0;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.container-nav p {
    color:white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 400px;
}
nav a{
    text-decoration: none;
    color:white;
    margin: 0 30px;
}
.HOM {
    border: 2.5px solid #4BCAFF;
    padding: 1px 14px 1px 14px;
    color:#4BCAFF;
}
.letra{
    color: #4BCAFF;
}
.contenido-fondo {
    color:white;
    text-align: center;
    margin-top:250px;
    font-size: 35px;
}
.superior{
    background-color: #455057d0;
    width: 700px;
    margin-left: 650px;
}
.inferior {
    background-color: #455057d0;
    width: 960px;
    margin-left: 530px;
    margin-top: 10px;
}